<div class="card">
  <div class="card-header h5">
    ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
  </div>
  <div class="card-body">

    <br />
    <h6>Отметьте, что Вам не нравилось (не нравится) на Вашем последнем месте  работе:</h6>
    <br />

    <% @last_job_like_dislike_params.each do |key, value| %>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id=<%= "candidate_last_job_like_dislike_#{key}" %>
            name="candidate[last_job_like_dislike][]" value = <%= key %> <%='checked' if @candidate.last_job_like_dislike.include?(key) %>>
        <label class="form-check-label" for=<%= "CandidateLastJobLikeDislike#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
      </div>
    <% end %>

    <br />
    <h6>Сферы деятельности, в которых Вы имеете опыт работы:</h6>
    <br />

    <div class="form-row">
      <div class="form-group col-md-6">
        <% @work_experience_areas.each do |key, value| %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id=<%= "candidate_work_experience_areas_#{key}" %>
                name="candidate[work_experience_areas][]" value = <%= key %> <%='checked' if @candidate.work_experience_areas.include?(key) %>>
            <label class="form-check-label" for=<%= "CandidateWorkExperienceAreas#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
          </div>
        <% end %>
      </div>
      <div class="form-group col-md-6">
        <label for="CandidateWorkExperienceAreasOther">Прочие (укажите какие)</label>
        <textarea class="form-control" type="text" name="candidate[work_experience_areas_other]" id="candidate_work_experience_areas_other"
                  rows="6" value=<%= @candidate.work_experience_areas_other%>></textarea>
      </div>
    </div>

    <br />
    <br />

    <div class="form-row">
      <div class="form-group col-md-3">
        <label> Ваши хобби, увлечения</label>
      </div>
      <div class="form-group col-md-9">
        <textarea class="form-control" type="text" name="candidate[hobbies]" id="candidate_hobbies" value=<%= @candidate.hobbies%>></textarea>
      </div>
      <div class="form-group col-md-3">
        <label>Укажите Ваши наиболее сильные стороны как личности</label>
      </div>
      <div class="form-group col-md-9">
        <textarea class="form-control" type="text" name="candidate[personality_strengths]" id="candidate_personality_strengths" value=<%= @candidate.personality_strengths%>></textarea>
      </div>
      <div class="form-group col-md-3">
        <label>Опишите наиболее приемлемый для Вас распорядок рабочего дня</label>
      </div>
      <div class="form-group col-md-9">
        <textarea class="form-control" type="text" name="candidate[acceptable_working_schedule]" id="candidate_acceptable_working_schedule" value=<%= @candidate.acceptable_working_schedule%>></textarea>
      </div>
      <div class="form-group col-md-3">
        <label>Что для Вас самое главное при выборе  работы?</label>
      </div>
      <div class="form-group col-md-9">
        <textarea class="form-control" type="text" name="candidate[job_choice_reason]" id="candidate_job_choice_reason" value=<%= @candidate.job_choice_reason%>></textarea>
      </div>
      <div class="form-group col-md-3">
        <label>Что у вас отбивает желание работать?</label>
      </div>
      <div class="form-group col-md-9">
        <textarea class="form-control" type="text" name="candidate[work_debufs]" id="candidate_work_debufs" value=<%= @candidate.work_debufs%>></textarea>
      </div>
    </div>

    <br />
    <h6>Укажите Ваши пожелания по условиям оплаты труда:</h6>
    <br />

    <div class="form-row">
      <div class="form-group col-md-4">
        <h6>Размер заработной платы, укажите в </h6>
        <div class="form-row">
          <label for="CandidateTrialPeriodSalaries">Минимальный, на испытательный срок</label>
        </div>
        <br />
        <div class="form-row">
          <label for="CandidatePostTrialSalaries">Желаемый, после испытательного срока</label>
        </div>
      </div>

      <div class="form-group col-md-2">
        <h6>бел.рублях.</h6>
        <div class="form-row">
          <input class="form-control" type="number" name="candidate[trial_period_salaries]" id="candidate_trial_period_salaries" value=<%= @candidate.trial_period_salaries %>>
        </div>
        <div class="form-row">
          <input class="form-control" type="number" name="candidate[post_trial_salaries]" id="candidate_post_trial_salaries" value=<%= @candidate.post_trial_salaries %>>
        </div>
      </div>

      <div class="form-group col-md-6">
        <h6>Желаемая система оплаты труда (выберите 1 - 2 варианта)</h6>
        <% @desired_pay_system.each do |key, value| %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id=<%= "candidate_#{key}" %>
                name="candidate[desired_pay_system][]" value = <%= key %> <%='checked' if @candidate.desired_pay_system.include?(key) %>>
            <label class="form-check-label" for=<%= "Candidate#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-row">
      <label for="CandidateAdditionalIncome">Имеете ли Вы дополнительные источники дохода? (если да, то указать, какие именно)</label>
      <input class="form-control" type="text" name="candidate[additional_income]" id="candidate_additional_income" value=<%= @candidate.additional_income%>>
    </div>

    <br />
    <h6>Укажите, какую долю времени, по отношению к основному рабочему времени, Вы хотели бы затрачивать на:
      <br /><i>(отметьте один из вариантов % для каждого из перечисленных аспектов):</i></h6>
    <br />

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="CandidateOvertimeWork">Сверхурочную работу</label>
      </div>
      <div class="form-group col-md-9">
        <div class="input-group">
          <div class="input-group-prepend" id="candidate_overtime_work">
            <input type="radio" <%= "checked" if candidate.overtime_work && candidate.overtime_work==0 %> name="candidate[overtime_work]"value="0">0%
            <input type="radio" <%= "checked" if candidate.overtime_work && candidate.overtime_work==10 %> name="candidate[overtime_work]"value="10">10%
            <input type="radio" <%= "checked" if candidate.overtime_work && candidate.overtime_work==30 %> name="candidate[overtime_work]"value="30">30%
            <input type="radio" <%= "checked" if candidate.overtime_work && candidate.overtime_work==50 %> name="candidate[overtime_work]"value="50">50%
            <input type="radio" <%= "checked" if candidate.overtime_work && candidate.overtime_work==70 %> name="candidate[overtime_work]"value="70">70%
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="CandidateBusinessTrips">Командировки</label>
      </div>
      <div class="form-group col-md-9">
        <div class="input-group">
          <div class="input-group-prepend" id="candidate_business_trips">
            <input type="radio" <%= "checked" if candidate.business_trips && candidate.business_trips==0 %>  name="candidate[business_trips]"value="0">0%
            <input type="radio" <%= "checked" if candidate.business_trips && candidate.business_trips==10 %> name="candidate[business_trips]"value="10">10%
            <input type="radio" <%= "checked" if candidate.business_trips && candidate.business_trips==30 %> name="candidate[business_trips]"value="30">30%
            <input type="radio" <%= "checked" if candidate.business_trips && candidate.business_trips==50 %> name="candidate[business_trips]"value="50">50%
            <input type="radio" <%= "checked" if candidate.business_trips && candidate.business_trips==70 %> name="candidate[business_trips]"value="70">70%
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="CandidateTraining">Обучение</label>
      </div>
      <div class="form-group col-md-9">
        <div class="input-group">
          <div class="input-group-prepend" id="candidate_training">
            <input type="radio" <%= "checked" if candidate.training && candidate.training==0 %>  name="candidate[training]"value="0">0%
            <input type="radio" <%= "checked" if candidate.training && candidate.training==10 %> name="candidate[training]"value="10">10%
            <input type="radio" <%= "checked" if candidate.training && candidate.training==30 %> name="candidate[training]"value="30">30%
            <input type="radio" <%= "checked" if candidate.training && candidate.training==50 %> name="candidate[training]"value="50">50%
            <input type="radio" <%= "checked" if candidate.training && candidate.training==70 %> name="candidate[training]"value="70">70%
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <label for="CandidateReadyToStartWork">Когда Вы готовы приступить к работе?</label>
      <input class="form-control" type="text" name="candidate[ready_to_start_work]" id="candidate_ready_to_start_work" value=<%= @candidate.ready_to_start_work%>>
      <label for="CandidateAboutYourself">Дополнительная информация <i>(то, что Вы хотите добавить о себе)</i></label>
      <textarea class="form-control" type="text" name="candidate[about_yourself]" id="candidate_about_yourself" value=<%= @candidate.about_yourself%>></textarea>
    </div>

    <label>Дата заполнения анкеты: <%= @candidate.created_at %></label>
  </div>
  <button type="submit" class="btn btn-success btn-lg btn-block" width="20px">Отправить данные</button><br>
</div>
