<div class="card">
  <div class="card-header h5">
    ВЛАДЕНИЕ ИНОСТРАННЫМИ ЯЗЫКАМИ, НАВЫКИ РАБОТЫ НА КОМПЬЮТЕРЕ
  </div>
  <div class="card-body">
    <div class="bs-example" data-example-id="contextual-table">
      <table class="table">
        <thead>
        <tr>
          <th style="width: 60%">Укажите язык</th>
          <th style="width: 20%">Уровень владения устно</th>
          <th style="width: 20%">Уровень владения письменно</th>
        </tr>
        </thead>
        <tbody id="language_rows">
        <div class="form-group col-md-2">
          <button class="btn btn-success btn-sm btn-block" onclick="return add_language_table_new_row()">Добавить</button>
        </div>
        </tbody>
      </table>
    </div>

    <br />
    <h6>Программные продукты. Уровень владения (от 1 до 5, где 5 самый высокий балл)</h6>
    <br />
    <div class="form-row">
      <div class="form-group col-md-1">
        <label>WORD</label>
      </div>
      <div class="form-group col-md-1">
        <input class="form-control" type="number" min="1" max="5" name="candidate[word_level]" id="candidate_word_level" value=<%= @candidate.word_level%>>
      </div>
      <div class="form-group col-md-1">
        <label>Excel</label>
      </div>
      <div class="form-group col-md-1">
        <input class="form-control" type="number" min="1" max="5" name="candidate[excel_level]" id="candidate_excel_level" value=<%= @candidate.excel_level%>>
      </div>
      <div class="form-group col-md-2">
        <label>Другое</label>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" name="candidate[other_skills_level]" id="candidate_other_skills_level" value=<%= @candidate.other_skills_level%>>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-1">
        <label>Aссess</label>
      </div>
      <div class="form-group col-md-1">
        <input class="form-control" type="number" min="1" max="5" name="candidate[access_level]" id="candidate_access_level" value=<%= @candidate.access_level%>>
      </div>
      <div class="form-group col-md-1">
        <label>1C</label>
      </div>
      <div class="form-group col-md-1">
        <input class="form-control" type="number" min="1" max="5" name="candidate[_1c_level]" id="candidate__1c_level" value=<%= @candidate._1c_level%>>
      </div>
      <div class="form-group col-md-2">
        <label>Дополнительные навыки</label>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" type="text" name="candidate[extra_skills]" id="candidate_extra_skills" value=<%= @candidate.extra_skills%>>
      </div>
    </div>
  </div>
</div>
