<h1></h1>
<div class="jumbotron">
	<img src="/img/logo.png" class="rounded mx-auto d-block" alt="EKT group" width="100">
	<div class="container d-flex flex-column align-items-center">
		<h4 class="display-4">АНКЕТА КАНДИДАТА</h4>
		<p class="lead">№ <%= @candidate.guid %></p>
	</div>
</div>

<form action="<%= "/candidates/#{@candidate.guid}" %>" method="POST" enctype="multipart/form-data">
	<input name="_method" type="hidden" value="patch" />
	<div class="card" hidden="true">
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[guid]" id="candidate_guid" value=<%= @candidate.guid %>>
			<input class="form-control" type="text"  name="candidate[created_at]" id="candidate_created_at" value=<%= @candidate.created_at %>>
		</div>
	</div>

	<%= erb :'candidates/_position' %><br>
	<%= erb :'candidates/_general_information' %><br>
	<%= erb :'candidates/_education' %><br>
	<%= erb :'candidates/_skills' %><br>
	<%= erb :'candidates/_experience' %><br>
	<%= erb :'candidates/_recommendations' %><br>
	<%= erb :'candidates/_additional_information' %><br>

	<button type="submit" class="btn btn-success btn-lg btn-block" width="20px">Отправить данные</button><br>
</form>
