<h1></h1>
<div class="jumbotron">
	<img src="/img/logo.png" class="rounded mx-auto d-block" alt="EKT group" width="100">
	<div class="container d-flex flex-column align-items-center">
		<h4 class="display-4">АНКЕТА КАНДИДАТА</h4>
		<p class="lead">№ <%= @candidate.guid %></p>
	</div>
</div>

<form action="<%= "/candidates/#{@candidate.guid}" %>" method="POST" enctype="multipart/form-data">
	<input name="_method" type="hidden" value="patch" />
	<div class="card" hidden="true">
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[guid]" id="candidate_guid" value=<%= @candidate.guid %>>
			<input class="form-control" type="text"  name="candidate[created_at]" id="candidate_created_at" value=<%= @candidate.created_at %>>
		</div>
	</div>

	<%= erb :'candidates/_position' %><br>

	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success active" id="_general_information-tab" data-toggle="pill" href="#_general_information" role="tab" aria-controls="pills-home" aria-selected="true">Общие сведенья</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success" id="_education-tab" data-toggle="pill" href="#_education" role="tab" aria-controls="pills-profile" aria-selected="false">Образование</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success" id="_skills-tab" data-toggle="pill" href="#_skills" role="tab" aria-controls="pills-contact" aria-selected="false">Навыки</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success" id="_experience-tab" data-toggle="pill" href="#_experience" role="tab" aria-controls="pills-contact" aria-selected="false">Опыт</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success" id="_recommendations-tab" data-toggle="pill" href="#_recommendations" role="tab" aria-controls="pills-contact" aria-selected="false">Рекомендации</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link btn-outline-success" id="_additional_information-tab" data-toggle="pill" href="#_additional_information" role="tab" aria-controls="pills-contact" aria-selected="false">Дополнительно</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="_general_information" role="tabpanel" aria-labelledby="_general_information"><%= erb :'candidates/_general_information' %></div>
		<div class="tab-pane fade" id="_education" role="tabpanel" aria-labelledby="_education"><%= erb :'candidates/_education' %></div>
		<div class="tab-pane fade" id="_skills" role="tabpanel" aria-labelledby="_skills"><%= erb :'candidates/_skills' %></div>
		<div class="tab-pane fade" id="_experience" role="tabpanel" aria-labelledby="_experience"><%= erb :'candidates/_experience' %></div>
		<div class="tab-pane fade" id="_recommendations" role="tabpanel" aria-labelledby="_recommendations"><%= erb :'candidates/_recommendations' %></div>
		<div class="tab-pane fade" id="_additional_information" role="tabpanel" aria-labelledby="_additional_information"><%= erb :'candidates/_additional_information' %></div>
	</div>

	<button type="submit" class="btn btn-success btn-lg btn-block" width="20px">Отправить данные</button><br>
</form>
