<h1></h1>
<div class="jumbotron">
	<img src="/img/logo.png" class="rounded mx-auto d-block" alt="EKT group" width="100">
	<div class="container d-flex flex-column align-items-center">
		<!--  	<div class="alert alert-danger" role="alert">-->
		<!--  		ТЕСТ-->
		<!--		</div>-->
		<h4 class="display-4">АНКЕТА КАНДИДАТА</h4>
		<p class="lead">№ <%= @candidate.guid %></p>
	</div>
	<!--   <hr class="my-4">-->
	<!-- 	<p>-->
	<!--		<button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
	<!--		  Узнать больше о компании ЗАО "ЕКТ групп"-->
	<!--		</button>-->
	<!--	</p>-->
	<!--	<div class="collapse" id="collapseExample">-->
	<!--	  <div class="card card-body">-->
	<!--	  	<h6>Наша команда – наша основная ценность и потенциал развития!</h6>-->
	<!--	    <p>Залог успеха нашего предприятия – это наши сотрудники, их знания, опыт, потенциал и желание развиваться.</p>-->
	<!--			<p>Мы предлагаем широкий спектр интересных задач, конкурентную заработную плату, возможности для профессионального роста и развития.</p>-->
	<!--			<p>Мы ожидаем от всех сотрудников мобильности и готовности к слаженной работе. Мы непримиримы к проявлениям необязательности и бездействию.</p>-->
	<!--			<p>Профессионализм, стремление к развитию, уважение к людям, преданность корпоративным ценностям – это то, что нас объединяет.</p>-->
	<!--			<p class="lead">-->
	<!--				Мы будем рады видеть тебя в команде ЗАО "ЕКТ групп"-->
	<!--			</p>-->
	<!--	  </div>-->
	<!--	</div>	-->
</div>

<form action="/candidates" method="POST" enctype="multipart/form-data">
	<!--	https://getbootstrap.com/docs/4.5/components/forms/-->
	<div class="card" hidden="true">
	<div class="card-header h5">
		GUID(autoset in production)
	</div>
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[guid]" id="candidate_guid" value=<%= @candidate.guid %>>
			<input class="form-control" type="text"  name="candidate[created_at]" id="candidate_created_at" value=<%= @candidate.created_at %>>
		</div>
	</div>

	<div class="card">
		<div class="card-header h5">
			ДОЛЖНОСТЬ
		</div>
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[position]" id="candidate_position" value=<%= @candidate.position %>>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-header h5">
			ОБЩИЕ СВЕДЕНИЯ
		</div>
		<div class="card-body">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputFirstname">Фамилия</label>
					<input class="form-control" type="text" name="candidate[first_name]" id="candidate_first_name" value=<%= @candidate.first_name %>>
					<label for="inputLastname">Имя</label>
					<input class="form-control" type="text" name="candidate[last_name]" id="candidate_last_name" value=<%= @candidate.last_name %>>
					<label for="inputSurname">Отчество</label>
					<input class="form-control" type="text" name="candidate[sur_name]" id="candidate_sur_name" value=<%= @candidate.sur_name %>>
					<label for="InputPhone">Телефон</label>
					<input class="form-control" type="text" name="candidate[phone]" id="candidate_phone" value=<%= @candidate.phone %>>
				</div>

				<div class="form-group col-md-6">
					<div class="form-row">
						<label for="inputImage">Загрузите фотографию...</label>
					</div>
					<div class="form-row">
						<input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" onchange="handleFiles(this.files)">
					</div>
					<div id="preview">
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputDate">Дата рождения</label>
					<input class="form-control" type="date" name="candidate[date]" id="candidate_date" value=<%= @candidate.date %>>
				</div>
				<div class="form-group col-md-6">
					<label for="inputCity">Место рождения</label>
					<input class="form-control" type="text" name="candidate[city]" id="candidate_city" value=<%= @candidate.city %>>
				</div>
				<div class="form-group col-md-6">
					<label for="inputMaritalStatus">Семеной положение</label>
					<select class="form-control" id="inputMaritalStatus" name="candidate[material_status]" id="candidate_material_status" value=<%= @candidate.material_status %>>
						<option>Не замужем, не женат</option>
						<option>Замужем, женат</option>
						<option>Разведён, разведена</option>
						<option>Вдова, вдовец</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="inputLivingConditions">Жилищные условия</label>
					<select class="form-control" id="inputMaritalStatus" name="candidate[conditions]" id="candidate_conditions" value=<%= @candidate.conditions %>>
						<option>Аренда</option>
						<option>В собственности</option>
						<option>С родственниками</option>
					</select>
				</div>
			</div>
			<label for="inputChildren">Наличие и возраст детей</label>
			<input class="form-control" type="textarea" name="children" id="children" value=><br>

			<h6>Паспортные данные</h6>

			<div class="form-row">
				<div class="form-group col-md-1">
					<label for="inputPassportSerial">Серия</label>
					<input class="form-control" type="text" name="candidate[passport_serial]" id="candidate_passport_serial" value=<%= @candidate.passport_serial %>>
				</div>
				<div class="form-group col-md-4">
					<label for="inputPassportNumber">Номер</label>
					<input class="form-control" type="text" name="candidate[passport_number]" id="candidate_passport_number" value=<%= @candidate.passport_number %>>
				</div>
				<div class="form-group col-md-7">
					<label for="inputPassportNationality">Гражданство</label>
					<input class="form-control" type="text" name="candidate[nationality]" id="candidate_nationality" value=<%= @candidate.nationality %>>
				</div>
				<div class="form-group col-md-12">
					<label for="inputPrivateNumber">Идентификационный(личный) номер</label>
					<input class="form-control" type="text" name="candidate[private_number]" id="candidate_private_number" value=<%= @candidate.private_number %>>
				</div>
				<div class="form-group col-md-9">
					<label for="inputPassportDep">Наименование органа, выдавшего паспорт</label>
					<input class="form-control" type="text" name="candidate[passport_dep]" id="candidate_passport_dep" value=<%= @candidate.passport_dep %>>
				</div>
				<div class="form-group col-md-3">
					<label for="inputPassportDate">Дата выдачи</label>
					<input class="form-control" type="date" name="candidate[passport_date]" id="candidate_passport_date" value=<%= @candidate.passport_date %>>
				</div>
			</div>

		</div>
	</div>
	<br>
		<button type="submit" class="btn btn-success btn-lg btn-block">Отправить данные</button>
	<br>
</form>

<script type="text/javascript">
    $(function(){
      $("#candidate_phone").mask("+375 (99) 999-99-99");
    });   
</script>