<h1></h1>
<div class="jumbotron">
	<div class="container d-flex flex-column align-items-center">
		<h4 class="display-4">Новый кандидат</h4>
	</div>
</div>

<form action="/candidates" method="POST" enctype="multipart/form-data">
	<div class="card">
		<div class="card-body">
			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Дата/время создания:</div>
				</div>
				<input readonly class="form-control" type="text" name="candidate[created_at]" id="candidate_created_at" value=<%= @candidate.created_at %>>
			</div>
			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Будет присвоен GUID:</div>
				</div>
				<input readonly class="form-control" type="text" name="candidate[guid]" id="candidate_guid" value=<%= @candidate.guid %>>
			</div>
			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text">Адрес почты автора:</div>
				</div>
				<input readonly class="form-control" type="text" name="candidate[author_email]" id="candidate_author_email" value="<%= current_user.email if user_signed_in? %>">
			</div>
		</div>
	</div><br>

	<%= erb :'candidates/_position' %><br>
	<%= erb :'candidates/_general_information_min' %><br>
	<button type="submit" class="btn btn-success btn-lg btn-block" width="20px">Создать</button><br>
</form>
