<h1></h1>
<div class="jumbotron">
	<img src="/img/logo.png" class="rounded mx-auto d-block" alt="EKT group" width="100">
	<div class="container d-flex flex-column align-items-center">
		<!--  	<div class="alert alert-danger" role="alert">-->
		<!--  		ТЕСТ-->
		<!--		</div>-->
		<h4 class="display-4">АНКЕТА КАНДИДАТА</h4>
		<p class="lead">№ <%= @candidate.guid %></p>
	</div>
	<!--   <hr class="my-4">-->
	<!-- 	<p>-->
	<!--		<button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
	<!--		  Узнать больше о компании ЗАО "ЕКТ групп"-->
	<!--		</button>-->
	<!--	</p>-->
	<!--	<div class="collapse" id="collapseExample">-->
	<!--	  <div class="card card-body">-->
	<!--	  	<h6>Наша команда – наша основная ценность и потенциал развития!</h6>-->
	<!--	    <p>Залог успеха нашего предприятия – это наши сотрудники, их знания, опыт, потенциал и желание развиваться.</p>-->
	<!--			<p>Мы предлагаем широкий спектр интересных задач, конкурентную заработную плату, возможности для профессионального роста и развития.</p>-->
	<!--			<p>Мы ожидаем от всех сотрудников мобильности и готовности к слаженной работе. Мы непримиримы к проявлениям необязательности и бездействию.</p>-->
	<!--			<p>Профессионализм, стремление к развитию, уважение к людям, преданность корпоративным ценностям – это то, что нас объединяет.</p>-->
	<!--			<p class="lead">-->
	<!--				Мы будем рады видеть тебя в команде ЗАО "ЕКТ групп"-->
	<!--			</p>-->
	<!--	  </div>-->
	<!--	</div>	-->
</div>

<form action="/candidates" method="POST" enctype="multipart/form-data">
	<!--	https://getbootstrap.com/docs/4.5/components/forms/-->
	<div class="card" hidden="true">
	<div class="card-header h5">
		GUID(autoset in production)
	</div>
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[guid]" id="candidate_guid" value=<%= @candidate.guid %>>
			<input class="form-control" type="text"  name="candidate[created_at]" id="candidate_created_at" value=<%= @candidate.created_at %>>
		</div>
	</div>

	<div class="card">
		<div class="card-header h5">
			ДОЛЖНОСТЬ
		</div>
		<div class="card-body">
			<input class="form-control" type="text"  name="candidate[position]" id="candidate_position" value=<%= @candidate.position %>>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-header h5">
			ОБЩИЕ СВЕДЕНИЯ
		</div>
		<div class="card-body">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputFirstname">Фамилия</label>
					<input class="form-control" type="text" name="candidate[first_name]" id="candidate_first_name" value=<%= @candidate.first_name %>>
					<label for="inputLastname">Имя</label>
					<input class="form-control" type="text" name="candidate[last_name]" id="candidate_last_name" value=<%= @candidate.last_name %>>
					<label for="inputSurname">Отчество</label>
					<input class="form-control" type="text" name="candidate[sur_name]" id="candidate_sur_name" value=<%= @candidate.sur_name %>>
					<label for="InputPhone">Телефон</label>
					<input class="form-control" type="text" name="candidate[phone]" id="candidate_phone" value=<%= @candidate.phone %>>
					<label for="InputPhone">E-mail</label>
					<input class="form-control" type="text" name="candidate[email]" id="candidate_email" onblur="validateEmail(this.value)" value=<%= @candidate.email %>>
					<div class="alert alert-danger" id="email_error" hidden="true">Не верный адрес электронной почты!</div>
				</div>

				<div class="form-group col-md-4">
					<div class="form-row">
						<label for="inputImage">Загрузите фотографию...</label>
					</div>
					<div class="form-row">
						<input type="file" name="image" id="image" accept=".jpg, .jpeg, .png" onchange="handleFiles(this.files)">
					</div>
					<div id="preview">
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputDate">Дата рождения</label>
					<input class="form-control" type="date" name="candidate[date]" id="candidate_date" value=<%= @candidate.date %>>
				</div>
				<div class="form-group col-md-6">
					<label for="inputCity">Место рождения</label>
					<input class="form-control" type="text" name="candidate[city]" id="candidate_city" value=<%= @candidate.city %>>
				</div>
				<div class="form-group col-md-6">
					<label for="inputMaritalStatus">Семеной положение</label>
					<select class="form-control" id="inputMaritalStatus" name="candidate[material_status]" id="candidate_material_status" value=<%= @candidate.material_status %>>
						<option>Не замужем, не женат</option>
						<option>Замужем, женат</option>
						<option>Разведён, разведена</option>
						<option>Вдова, вдовец</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="inputLivingConditions">Жилищные условия</label>
					<select class="form-control" id="inputMaritalStatus" name="candidate[conditions]" id="candidate_conditions" value=<%= @candidate.conditions %>>
						<option>Аренда</option>
						<option>В собственности</option>
						<option>С родственниками</option>
					</select>
				</div>
			</div>
			<label for="inputChildren" hidden="true">Наличие и возраст детей</label>
			<input class="form-control" hidden="true" type="textarea" name="children" id="children" value=><br>

			<h6>Паспортные данные</h6>

			<div class="form-row">
				<div class="form-group col-md-1">
					<label for="inputPassportSerial">Серия</label>
					<input class="form-control" type="text" name="candidate[passport_serial]" id="candidate_passport_serial" value=<%= @candidate.passport_serial %>>
				</div>
				<div class="form-group col-md-4">
					<label for="inputPassportNumber">Номер</label>
					<input class="form-control" type="text" name="candidate[passport_number]" id="candidate_passport_number" value=<%= @candidate.passport_number %>>
				</div>
				<div class="form-group col-md-7">
					<label for="inputPassportNationality">Гражданство</label>
					<input class="form-control" type="text" name="candidate[nationality]" id="candidate_nationality" value=<%= @candidate.nationality %>>
				</div>
				<div class="form-group col-md-12">
					<label for="inputPrivateNumber">Идентификационный(личный) номер</label>
					<input class="form-control" type="text" name="candidate[private_number]" id="candidate_private_number" value=<%= @candidate.private_number %>>
				</div>
				<div class="form-group col-md-9">
					<label for="inputPassportDep">Наименование органа, выдавшего паспорт</label>
					<input class="form-control" type="text" name="candidate[passport_dep]" id="candidate_passport_dep" value=<%= @candidate.passport_dep %>>
				</div>
				<div class="form-group col-md-3">
					<label for="inputPassportDate">Дата выдачи</label>
					<input class="form-control" type="date" name="candidate[passport_date]" id="candidate_passport_date" value=<%= @candidate.passport_date %>>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-12">
					<div class="form-row">
						<div class="form-group col-md-2">
							<label>Адрес регистрации</label>
						</div>
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[registration_city]" id="candidate_registration_city" placeholder="Город" value=<%= @candidate.registration_city%>>
						</div>
						<div class="form-group col-md-3">
							<input class="form-control" type="text" name="candidate[registration_street]" id="candidate_registration_street" placeholder="Улица" value=<%= @candidate.registration_street%>>
						</div>	
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[registration_house]" id="candidate_registration_house" placeholder="Дом" value=<%= @candidate.registration_house%>>
						</div>
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[registration_apartment]" id="candidate_registration_apartment" placeholder="Квартира" value=<%= @candidate.registration_apartment%>>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<label>Адрес проживания</label>
						</div>
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[residence_city]" id="candidate_residence_city" placeholder="Город" value=<%= @candidate.residence_city%>>
						</div>
						<div class="form-group col-md-3">
							<input class="form-control" type="text" name="candidate[residence_street]" id="candidate_residence_street" placeholder="Улица" value=<%= @candidate.residence_street%>>
						</div>	
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[residence_house]" id="candidate_rresidence_house" placeholder="Дом" value=<%= @candidate.residence_house%>>
						</div>
						<div class="form-group col-md-2">
							<input class="form-control" type="text" name="candidate[residence_apartment]" id="candidate_residence_apartment" placeholder="Квартира" value=<%= @candidate.residence_apartment%>>
						</div>
						<div class="form-group col-md-1">
							<button class="btn btn-success btn-sm btn-block" onclick="return fill_residence_adr()">Заполн.</button>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-2">
							<label>Сведения о воинском учете</label>
						</div>
						<div class="form-group col-md-10">
							<input class="form-control" type="text" name="candidate[military_registration]" id="candidate_military_registration" value=<%= @candidate.military_registration%>>
						</div>	
					</div>
				</div>
			</div>

			<h6>Близкие родственники (жена, муж, отец, мать, братья, сестры, дети)</h6>

			<div class="bs-example" data-example-id="contextual-table">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 10%">Степень родства</th>
							<th style="width: 30%">Фамилия, Имя, Отчетство</th>
							<th style="width: 20%">Год, место рождения</th>
							<th style="width: 20%">Место работы, должность</th>
							<th style="width: 20%">Адрес места жительства</th>
						</tr>
					</thead>
					<tbody id="relatives_rows">
						<div class="form-group col-md-2">
							<button class="btn btn-success btn-sm btn-block" onclick="return add_relatives_table_new_row()">Добавить</button>
						</div>
					</tbody>
				</table>
			</div>

			<div class="form-row">
				<label for="inputDriversLicense">Наличие водительского удостоверения, стаж вождения</label>
				<input class="form-control" type="text" name="candidate[drivers_license]" id="candidate_drivers_license" value=<%= @candidate.drivers_license %>>
				<label for="inputHavingACar">Наличие автомобиля (марка)</label>
				<input class="form-control" type="text" name="candidate[having_a_car]" id="candidate_having_a_car" value=<%= @candidate.having_a_car %>>
				<label for="inputPoliticalMembership">Принадлежность к политическим партиям, общественным объединениям  и т.п. (если да, то указать к каким именно)</label>
				<input class="form-control" type="text" name="candidate[political_membership]" id="candidate_political_membership" value=<%= @candidate.political_membership %>>
				<label for="inputConviction">Судимости, административные взыскания</label>
				<input class="form-control" type="text" name="candidate[conviction]" id="candidate_conviction" value=<%= @candidate.conviction %>>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header h5">
			ОБРАЗОВАНИЕ
		</div>
		<div class="card-body">
			<div class="bs-example" data-example-id="contextual-table">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 4%">Год поступления</th>
							<th style="width: 4%">Год окончания</th>
							<th style="width: 40%">Название учебного заведения</th>
							<th style="width: 35%">Специальность по диплому</th>
							<th style="width: 20%">Форма обучения</th>
						</tr>
					</thead>
					<tbody id="education_rows">
						<div class="form-group col-md-2">
							<button class="btn btn-success btn-sm btn-block" onclick="return add_education_table_new_row()">Добавить</button>
						</div>
					</tbody>
				</table>
			</div>

			<br />
			<h6>Дополнительное образование (специализированные курсы, курсы повышения квалификации)</h6>

			<div class="bs-example" data-example-id="contextual-table">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 4%">Год обучения</th>
							<th style="width: 40%">Наименование учебного заведения</th>
							<th style="width: 40%">Название курса</th>
							<th style="width: 16%">Продолжительность (месяцев)</th>
						</tr>
					</thead>
					<tbody id="extra_rows">
						<div class="form-group col-md-2">
							<button class="btn btn-success btn-sm btn-block" onclick="return add_extra_table_new_row()">Добавить</button>
						</div>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div class="card">
		<div class="card-header h5">
			ВЛАДЕНИЕ ИНОСТРАННЫМИ ЯЗЫКАМИ, НАВЫКИ РАБОТЫ НА КОМПЬЮТЕРЕ
		</div>
		<div class="card-body">
			<div class="bs-example" data-example-id="contextual-table">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 60%">Укажите язык</th>
							<th style="width: 20%">Уровень владения устно</th>
							<th style="width: 20%">Уровень владения письменно</th>
						</tr>
					</thead>
					<tbody id="language_rows">
						<div class="form-group col-md-2">
							<button class="btn btn-success btn-sm btn-block" onclick="return add_language_table_new_row()">Добавить</button>
						</div>
					</tbody>
				</table>
			</div>

			<br />
			<h6>Программные продукты. Уровень владения (от 1 до 5, где 5 самый высокий балл)</h6>
			<br />
			<div class="form-row">
				<div class="form-group col-md-1">
					<label>WORD</label>
				</div>
				<div class="form-group col-md-1">
					<input class="form-control" type="number" min="1" max="5" name="candidate[word_level]" id="candidate_word_level" value=<%= @candidate.word_level%>>
				</div>	
				<div class="form-group col-md-1">
					<label>Excel</label>
				</div>
				<div class="form-group col-md-1">
					<input class="form-control" type="number" min="1" max="5" name="candidate[excel_level]" id="candidate_excel_level" value=<%= @candidate.excel_level%>>
				</div>
				<div class="form-group col-md-2">
					<label>Другое</label>
				</div>
				<div class="form-group col-md-6">
					<input class="form-control" type="text" name="candidate[other_skills_level]" id="candidate_other_skills_level" value=<%= @candidate.other_skills_level%>>
				</div>	
			</div>
			<div class="form-row">
				<div class="form-group col-md-1">
					<label>Aссess</label>
				</div>
				<div class="form-group col-md-1">
					<input class="form-control" type="number" min="1" max="5" name="candidate[access_level]" id="candidate_access_level" value=<%= @candidate.access_level%>>
				</div>
				<div class="form-group col-md-1">
					<label>1C</label>
				</div>
				<div class="form-group col-md-1">
					<input class="form-control" type="number" min="1" max="5" name="candidate[_1c_level]" id="candidate__1c_level" value=<%= @candidate._1c_level%>>
				</div>
				<div class="form-group col-md-2">
					<label>Дополнительные навыки</label>
				</div>
				<div class="form-group col-md-6">
					<input class="form-control" type="text" name="candidate[extra_skills]" id="candidate_extra_skills" value=<%= @candidate.extra_skills%>>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header h5">
			ОПЫТ РАБОТЫ
		</div>
		<div class="card-body">
		
			<h5>Начиная с <b>ПОСЛЕДНЕГО</b> места работы, укажите реальный профессиональный опыт (в том числе, без записи в трудовой книжке).</h5>
		
			<div class="form-group col-md-2">
				<button class="btn btn-success btn-sm btn-block" onclick="return add_experience_table_row()">Добавить</button>
			</div>

			<div id ="experience_fields">
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header h5">
			РЕКОМЕНДАЦИИ РУКОВОДИТЕЛЕЙ
		</div>
		<div class="card-body">
			<div class="bs-example" data-example-id="contextual-table">
				<table class="table">
					<thead>
						<tr>
							<th>Ф.И.О.</th>
							<th>Место работы</th>
							<th>Должность</th>
							<th>Телефон</th>
						</tr>
					</thead>
					<tbody id="reccomenders_rows">
						<div class="form-group col-md-2">
							<button class="btn btn-success btn-sm btn-block" onclick="return add_reccomenders_table_row()">Добавить</button>
						</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="card">
		<div class="card-header h5">
			ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ
		</div>
		<div class="card-body">

			<br />
			<h6>Отметьте, что Вам не нравилось (не нравится) на Вашем последнем месте  работе:</h6>
			<br />

			<% @last_job_like_dislike_params.each do |key, value| %>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id=<%= "candidate_last_job_like_dislike_#{key}" %>
						name="candidate[last_job_like_dislike][]" value = <%= key %> <%='checked' if @candidate.last_job_like_dislike.include?(key) %>>
					<label class="form-check-label" for=<%= "CandidateLastJobLikeDislike#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
				</div>
			<% end %>

			<br />
			<h6>Сферы деятельности, в которых Вы имеете опыт работы:</h6>
			<br />

			<div class="form-row">
				<div class="form-group col-md-6">
					<% @work_experience_areas.each do |key, value| %>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id=<%= "candidate_work_experience_areas_#{key}" %>
								name="candidate[work_experience_areas][]" value = <%= key %> <%='checked' if @candidate.work_experience_areas.include?(key) %>>
							<label class="form-check-label" for=<%= "CandidateWorkExperienceAreas#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
						</div>
					<% end %>
				</div>
				<div class="form-group col-md-6">
					<label for="CandidateWorkExperienceAreasOther">Прочие (укажите какие)</label>
					<textarea class="form-control" type="text" name="candidate[work_experience_areas_other]" id="candidate_work_experience_areas_other" 
					rows="6" value=<%= @candidate.work_experience_areas_other%>></textarea>
				</div>
			</div>

			<br />
			<br />

			<div class="form-row">
				<div class="form-group col-md-3">
					<label> Ваши хобби, увлечения</label>
				</div>
				<div class="form-group col-md-9">
					<textarea class="form-control" type="text" name="candidate[hobbies]" id="candidate_hobbies" value=<%= @candidate.hobbies%>></textarea>
				</div>
				<div class="form-group col-md-3">
					<label>Укажите Ваши наиболее сильные стороны как личности</label>
				</div>
				<div class="form-group col-md-9">
					<textarea class="form-control" type="text" name="candidate[personality_strengths]" id="candidate_personality_strengths" value=<%= @candidate.personality_strengths%>></textarea>
				</div>
				<div class="form-group col-md-3">
					<label>Опишите наиболее приемлемый для Вас распорядок рабочего дня</label>
				</div>
				<div class="form-group col-md-9">
					<textarea class="form-control" type="text" name="candidate[acceptable_working_schedule]" id="candidate_acceptable_working_schedule" value=<%= @candidate.acceptable_working_schedule%>></textarea>
				</div>
				<div class="form-group col-md-3">
					<label>Что для Вас самое главное при выборе  работы?</label>
				</div>
				<div class="form-group col-md-9">
					<textarea class="form-control" type="text" name="candidate[job_choice_reason]" id="candidate_job_choice_reason" value=<%= @candidate.job_choice_reason%>></textarea>
				</div>
				<div class="form-group col-md-3">
					<label>Что у вас отбивает желание работать?</label>
				</div>
				<div class="form-group col-md-9">
					<textarea class="form-control" type="text" name="candidate[work_debufs]" id="candidate_work_debufs" value=<%= @candidate.work_debufs%>></textarea>
				</div>	
			</div>

			<br />
			<h6>Укажите Ваши пожелания по условиям оплаты труда:</h6>
			<br />

			<div class="form-row">
				<div class="form-group col-md-4">
					<h6>Размер заработной платы, укажите в </h6>
					<div class="form-row">
						<label for="CandidateTrialPeriodSalaries">Минимальный, на испытательный срок</label>
					</div>
					<br />
					<div class="form-row">
						<label for="CandidatePostTrialSalaries">Желаемый, после испытательного срока</label>
					</div>
				</div>

				<div class="form-group col-md-2">
					<h6>бел.рублях.</h6>
					<div class="form-row">
						<input class="form-control" type="number" name="candidate[trial_period_salaries]" id="candidate_trial_period_salaries" value=<%= @candidate.trial_period_salaries %>>
					</div>
					<div class="form-row">
						<input class="form-control" type="number" name="candidate[post_trial_salaries]" id="candidate_post_trial_salaries" value=<%= @candidate.post_trial_salaries %>>
					</div>
				</div>

				<div class="form-group col-md-6">
					<h6>Желаемая система оплаты труда (выберите 1 - 2 варианта)</h6>
					<% @desired_pay_system.each do |key, value| %>
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id=<%= "candidate_#{key}" %>
								name="candidate[]" value = <%= key %> <%='checked' if @candidate[key] %>>
							<label class="form-check-label" for=<%= "Candidate#{key[0].upcase}#{key[2..]}" %>><%= value %></label>
						</div>
					<% end %>
				</div>
			</div>

			<div class="form-row">
				<label for="CandidateAdditionalIncome">Имеете ли Вы дополнительные источники дохода? (если да, то указать, какие именно)</label>
				<input class="form-control" type="text" name="candidate[additional_income]" id="candidate_additional_income" value=<%= @candidate.additional_income%>>
			</div>

			<br />
			<h6>Укажите, какую долю времени, по отношению к основному рабочему времени, Вы хотели бы затрачивать на:
				<br /><i>(отметьте один из вариантов % для каждого из перечисленных аспектов):</i></h6>
			<br />

			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="CandidateOvertimeWork">Сверхурочную работу</label>
				</div>
				<div class="form-group col-md-9">
					<div class="input-group">
						<div class="input-group-prepend" id="candidate_overtime_work">
							<input type="radio" name="candidate[overtime_work]"value="0">0%
							<input type="radio" name="candidate[overtime_work]"value="10">10%
							<input type="radio" name="candidate[overtime_work]"value="30">30% 
							<input type="radio" name="candidate[overtime_work]"value="50">50% 
							<input type="radio" name="candidate[overtime_work]"value="70">70% 
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="CandidateBusinessTrips">Командировки</label>
				</div>
				<div class="form-group col-md-9">
					<div class="input-group">
						<div class="input-group-prepend" id="candidate_business_trips">
							<input type="radio" name="candidate[business_trips]"value="0">0%
							<input type="radio" name="candidate[business_trips]"value="10">10%
							<input type="radio" name="candidate[business_trips]"value="30">30% 
							<input type="radio" name="candidate[business_trips]"value="50">50% 
							<input type="radio" name="candidate[business_trips]"value="70">70% 
						</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="CandidateTraining">Обучение</label>
				</div>
				<div class="form-group col-md-9">
					<div class="input-group">
						<div class="input-group-prepend" id="candidate_training">
							<input type="radio" name="candidate[training]"value="0">0%
							<input type="radio" name="candidate[training]"value="10">10%
							<input type="radio" name="candidate[training]"value="30">30% 
							<input type="radio" name="candidate[training]"value="50">50% 
							<input type="radio" name="candidate[training]"value="70">70% 
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<label for="CandidateReadyToStartWork">Когда Вы готовы приступить к работе?</label>
				<input class="form-control" type="text" name="candidate[ready_to_start_work]" id="candidate_ready_to_start_work" value=<%= @candidate.ready_to_start_work%>>
				<label for="CandidateAboutYourself">Дополнительная информация <i>(то, что Вы хотите добавить о себе)</i></label>
				<textarea class="form-control" type="text" name="candidate[about_yourself]" id="candidate_about_yourself" value=<%= @candidate.about_yourself%>></textarea>
			</div>

			<label>Дата заполнения анкеты: <%= @candidate.date %></label>
		</div>
	</div>
	<br>
		<button type="submit" class="btn btn-success btn-lg btn-block" width="20px">Отправить данные</button>
	<br>
</form>
